# .gitignore for QWebService project
# Tells git to ignore build-related files.
build/
lib/
# Documentation should be included when code gets more mature
doc/developer/html/
doc/user/html/
*.autosave
*.pro.user*
*.kate-swp
*~
Makefile
closecombatfree
convert2qrc
save*.qml